.movie {
  &__list {
    width: 90%;
    height: auto;
    margin: 10px auto;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__item {
    width: 200px;
    height: auto;
    min-height: 300px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
