.btn {
  width: 225px;
  height: 60px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%, #5474fd 100%);
  padding: 15px 50px;
  color: #fff;
  font-family: 'Noto Sans SC', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &__arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-60%);
  }

  &:hover,
  &:focus {
    background: linear-gradient(45deg, #5474fd 0%, #5474fd 40%, #496bfe 40%, #496bfe 100%);
  }

  &:hover &__arrow,
  &:focus &__arrow {
    transform: translate(8px, -60%);
    transition-duration: .3s;
  }

  &:active {
    border: 1px solid #0039ff;
    opacity: .9;
  }
}

.search {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__form {
    width: 650px;
    height: 60px;
    border: 2px solid #0039ff;
    border-radius: 5px;
    text-align: left;
    position: relative;
    margin: 100px auto 0;

    @media screen and (max-width: 850px) {
      width: 75vw;
    }
    @media screen and (max-width: 520px) {
      height: 30px;
    }
  }

  &__input {
    width: 78%;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    outline: none;
    border: none;

    font-family: 'Nova Mono', 'Roboto Mono', monospace;
    font-size: 20px;
    color: #5474fd;
    letter-spacing: .1em;

    @media screen and (max-width: 520px) {
      width: 88%;
    }

    &::placeholder {
      font-family: 'Nova Mono', 'Roboto Mono', monospace;
      font-size: 22px;
      color: rgba(84, 116, 253, .5);
      letter-spacing: .1em;
      text-align: left;
      text-transform: uppercase;
      padding: 0 10px;

      @media screen and (max-width: 850px) {
        font-size: 2.6vw;
      }
      @media screen and (max-width: 520px) {
        opacity: 0;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 146px;
    height: 56px;
    padding-left: 20px;
    background: #496bfe;
    outline: none;

    &:hover {
      background: #5474fd;
    }

    @media screen and (max-width: 520px) {
      width: 12%;
      height: 26px;
      padding: 5px;
    }
  }

  &__btn-name {
    text-align: left;
    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    @media screen and (max-width: 520px) {
      transform: translateY(-50%) scale(.8);
      right: 20%;
    }
    @media screen and (max-width: 400px) {
      right: 10%;
    }
  }
}

.movie {
  &__list {
    width: 100%;
    height: 50px;
    margin: 80px auto;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__item {
    width: 30%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
  }

  &__btn {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 10px;
    padding: 6px 0;
    letter-spacing: 0;
    box-shadow: 0 0 10px 1px #000;
  }

  &__no-movies {
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 3px #000;
    color: #fff;
  }

  &__title,
  &__year {
    display: block;
    line-height: 1.5;
    color: #000;
    font-weight: 500;
    text-shadow: 0 0 3px #fff;
  }

  &__title {
    font-size: 1.5vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__year {
    font-size: 1.5vw;
  }

  &__poster-wrapper {
    width: 100%;
  }

  &__poster {
    width: 100%;
    height: auto;
  }

  &__poster-placeholder {
    display: block;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    box-shadow: inset 0 0 100px 1px #5474fd;
  }

  &__no-poster {
    width: 100%;
    height: auto;
  }
}
