.btn {
  width: 225px;
  height: 60px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%, #5474fd 100%);
  padding: 15px 50px;
  color: #fff;
  font-family: 'Noto Sans SC', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &:hover,
  &:focus {
    background: linear-gradient(45deg, #5474fd 0%, #5474fd 40%, #496bfe 40%, #496bfe 100%);
  }

  &:active {
    border: 1px solid #0039ff;
    opacity: .9;
  }
}

.search {
  &__form {
    width: 650px;
    height: 60px;
    border: 2px solid #0039ff;
    border-radius: 5px;
    text-align: left;
    position: relative;
    margin: 100px auto 0;

    @media screen and (max-width: 850px) {
      margin-top: 30px;
      width: 75vw;
    }
    @media screen and (max-width: 520px) {
      height: 30px;
    }
  }

  &__input {
    width: 78%;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    outline: none;
    border: none;

    font-family: 'Nova Mono', 'Roboto Mono', monospace;
    font-size: 20px;
    color: #5474fd;
    letter-spacing: .1em;

    @media screen and (max-width: 520px) {
      width: 88%;
    }

    &::placeholder {
      font-family: 'Nova Mono', 'Roboto Mono', monospace;
      font-size: 22px;
      color: rgba(84, 116, 253, .5);
      letter-spacing: .1em;
      text-align: left;
      text-transform: uppercase;
      padding: 0 10px;

      @media screen and (max-width: 600px) {
        padding: 0;
      }

      @media screen and (max-width: 500px) {
        font-size: 4vw;
        text-align: center;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 146px;
    height: 56px;
    padding-left: 12px;
    background: #496bfe;
    outline: none;
    border-left: 2px solid #0039ff;

    &:hover {
      background: #5474fd;
    }

    @media screen and (max-width: 520px) {
      width: 12%;
      height: 26px;
      padding: 5px;
    }
  }

  &__btn-name {
    text-align: left;
    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: calc(50% + 2px);
    right: 13px;
    transform: translateY(-50%);

    @media screen and (max-width: 520px) {
      transform: translateY(-50%) scale(.8);
      right: 20%;
    }
    @media screen and (max-width: 400px) {
      right: 8%;
    }
  }

  &__preloader {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    @media screen and (max-width: 520px) {
      transform: translateY(-50%) scale(.7);
      right: 14%;
    }
    @media screen and (max-width: 400px) {
      right: -4%;
    }
  }
}

.loading {
  &__bar {
    width: 30px;
    height: 30px;
  }

  &__block {
    position: absolute;
    background-color: transparent;
    width: 4px;
    height: 7px;
    transform: scale(0.4);
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;

    &--block-1 {
      background-color: rgba(255, 255, 255, 0);
      left: 0;
      top: 12px;
      animation-delay: 0.45s;
      transform: rotate(-90deg);
    }

    &--block-2 {
      background-color: rgba(255, 255, 255, .125);
      left: 4px;
      top: 4px;
      animation-delay: 0.6s;
      transform: rotate(-45deg);
    }

    &--block-3 {
      background-color: rgba(255, 255, 255, .25);
      left: 12px;
      top: 0;
      animation-delay: 0.75s;
      transform: rotate(0deg);
    }

    &--block-4 {
      background-color: rgba(255, 255, 255, .375);
      right: 4px;
      top: 4px;
      animation-delay: 0.9s;
      transform: rotate(45deg);
    }

    &--block-5 {
      background-color: rgba(255, 255, 255, .5);
      right: 0;
      top: 12px;
      animation-delay: 1.05s;
      transform: rotate(90deg);
    }

    &--block-6 {
      background-color: rgba(255, 255, 255, .625);
      right: 4px;
      bottom: 4px;
      animation-delay: 1.2s;
      transform: rotate(135deg);
    }

    &--block-7 {
      background-color: rgba(255, 255, 255, .875);
      bottom: 0;
      left: 12px;
      animation-delay: 1.35s;
      transform: rotate(180deg);
    }

    &--block-8 {
      background-color: rgba(255, 255, 255, 1);
      left: 4px;
      bottom: 4px;
      animation-delay: 1.5s;
      transform: rotate(-135deg);
    }
  }
}

@keyframes loading {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
